.grid {
  width: 100%;
  display: block;
  padding: 0; }

.grid.wide {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.row.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col {
  padding-left: 4px;
  padding-right: 4px; }

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0; }

.c-0 {
  display: none; }

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%; }

.c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.c-o-1 {
  margin-left: 8.33333%; }

.c-o-2 {
  margin-left: 16.66667%; }

.c-o-3 {
  margin-left: 25%; }

.c-o-4 {
  margin-left: 33.33333%; }

.c-o-5 {
  margin-left: 41.66667%; }

.c-o-6 {
  margin-left: 50%; }

.c-o-7 {
  margin-left: 58.33333%; }

.c-o-8 {
  margin-left: 66.66667%; }

.c-o-9 {
  margin-left: 75%; }

.c-o-10 {
  margin-left: 83.33333%; }

.c-o-11 {
  margin-left: 91.66667%; }

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px; }
  .col {
    padding-left: 8px;
    padding-right: 8px; }
  .m-0 {
    display: none; }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block; }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .m-o-1 {
    margin-left: 8.33333%; }
  .m-o-2 {
    margin-left: 16.66667%; }
  .m-o-3 {
    margin-left: 25%; }
  .m-o-4 {
    margin-left: 33.33333%; }
  .m-o-5 {
    margin-left: 41.66667%; }
  .m-o-6 {
    margin-left: 50%; }
  .m-o-7 {
    margin-left: 58.33333%; }
  .m-o-8 {
    margin-left: 66.66667%; }
  .m-o-9 {
    margin-left: 75%; }
  .m-o-10 {
    margin-left: 83.33333%; }
  .m-o-11 {
    margin-left: 91.66667%; } }

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px; }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .col {
    padding-left: 12px;
    padding-right: 12px; }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .l-0 {
    display: none; }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block; }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .l-o-1 {
    margin-left: 8.33333%; }
  .l-o-2 {
    margin-left: 16.66667%; }
  .l-o-3 {
    margin-left: 25%; }
  .l-o-4 {
    margin-left: 33.33333%; }
  .l-o-5 {
    margin-left: 41.66667%; }
  .l-o-6 {
    margin-left: 50%; }
  .l-o-7 {
    margin-left: 58.33333%; }
  .l-o-8 {
    margin-left: 66.66667%; }
  .l-o-9 {
    margin-left: 75%; }
  .l-o-10 {
    margin-left: 83.33333%; }
  .l-o-11 {
    margin-left: 91.66667%; } }

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px; } }

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px; }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px; }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px; }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .wide .l-0 {
    display: none; }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block; }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .wide .l-o-1 {
    margin-left: 8.33333%; }
  .wide .l-o-2 {
    margin-left: 16.66667%; }
  .wide .l-o-3 {
    margin-left: 25%; }
  .wide .l-o-4 {
    margin-left: 33.33333%; }
  .wide .l-o-5 {
    margin-left: 41.66667%; }
  .wide .l-o-6 {
    margin-left: 50%; }
  .wide .l-o-7 {
    margin-left: 58.33333%; }
  .wide .l-o-8 {
    margin-left: 66.66667%; }
  .wide .l-o-9 {
    margin-left: 75%; }
  .wide .l-o-10 {
    margin-left: 83.33333%; }
  .wide .l-o-11 {
    margin-left: 91.66667%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  position: relative; }

.slide__menu {
  position: fixed;
  right: 0;
  width: 350px;
  max-height: 100%;
  z-index: 999;
  font-family: 'Poppins', sans-serif;
  transition: all 0.8s ease;
  transform: translateX(350px);
  padding-bottom: 24px; }

.slide__menu--pc {
  position: relative;
  width: 350px;
  max-height: 100vh;
  background-color: #fff;
  z-index: 999;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #f1f1f1;
  transition: all 0.8s ease;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 24px; }

.menu__close {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 26px;
  cursor: pointer;
  color: #9a9a9a;
  opacity: 0.5; }

.menu__tittle {
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  color: #9a9a9a;
  font-size: 14px;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 28px; }

.menu__tittle p {
  font-size: 25px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #555555;
  line-height: 30px; }

.text__color {
  position: relative;
  text-decoration: none; }

.text__color--yellow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 11px;
  z-index: -9;
  background-color: #ffd105; }

.text__color--brown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 11px;
  z-index: -9;
  background-color: #f3a46b; }

.menu__option {
  display: flex;
  padding: 12px 36px;
  font-family: 'Poppins', sans-serif; }
  .menu__option-infor {
    margin-left: 30px; }
  .menu__option-infor h3 {
    color: #555555;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal; }
  .menu__option-infor p {
    color: #9a9a9a;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    margin: 12px 0; }
  .menu__option-infor button {
    width: 140px;
    border-radius: 30px;
    border: none;
    line-height: 14px;
    padding: 8px 18px 5px;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    margin-top: 12px;
    color: #fff; }

.menu__option img {
  width: 100px;
  height: 100px; }

.menu__destiantion-pr {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  z-index: 19999; }

.menu__destiantion-wrapper {
  width: 280px;
  height: 280px;
  position: relative; }

.menu__destiantion-pr:hover .overlay {
  opacity: 1; }

.menu__destiantion-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%); }

.menu__destiantion-img {
  width: 100%;
  display: block;
  position: relative; }

.menu__destination-inner {
  font-family: 'Poppins', sans-serif; }

.menu__destination-inner img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 62px;
  top: 30px; }

.menu__destination-inner h3 {
  height: 35px;
  position: absolute;
  left: 65px;
  bottom: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px; }

.menu__destination-inner p {
  height: 35px;
  position: absolute;
  left: 65px;
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2px; }

.menu__map-icon {
  margin-right: 4px; }

.overlay {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #14B9D5;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  z-index: 999;
  transition: opacity ease 1s; }

.overlay__inner {
  padding: 30px;
  text-align: center;
  color: #fff; }

.overlay__inner h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin: 16px 0; }

.overlay__inner p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 27px;
  cursor: pointer; }

.overlay__inner button {
  color: #14b9d5;
  border-radius: 30px;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 5px 20px;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 27px;
  margin-top: 24px;
  cursor: pointer; }

.orange-color {
  background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%); }

.pink-color {
  background: linear-gradient(to right, #f76570 0%, #f78d65 100%); }

.violet-color {
  background: linear-gradient(to right, #ba71da 0%, #da717b 100%); }

.green-color {
  background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%); }

.brown-color {
  background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%); }

.cyan-color {
  background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%); }

.slide__menu--collapse {
  position: relative;
  right: 0;
  width: 300px;
  max-height: 100vh;
  background-color: #555555;
  z-index: 999;
  font-family: 'Poppins', sans-serif;
  transition: all 0.8s ease;
  overflow: hidden;
  overflow-y: scroll;
  float: right;
  display: none; }

.slide__menu-mobile {
  padding: 40px 36px 36px 36px;
  letter-spacing: 1px;
  position: relative; }

.slide__menu--heading {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 30px; }

.slide__menu--group {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 35px;
  margin: 6px 0 0 22px; }

.slide__menu--group p {
  margin-left: 22px; }

.menu__close--mobile {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 24px;
  color: #fff;
  opacity: 0.7; }

.main__fast-buy {
  position: fixed;
  width: 65px;
  height: 65px;
  background-color: #555555;
  color: #fff;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  z-index: 98; }

.main__price {
  display: block;
  font-size: 25px;
  padding: 18px 0; }

.main__price::before {
  content: "";
  position: absolute;
  background-color: #555555;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: -20px;
  bottom: 0; }

.main__price-content {
  display: block;
  position: absolute;
  font-size: 8px;
  padding: 3px 8px;
  top: 1px;
  right: 7px;
  background-color: #f76570;
  font-family: 'Open Sans', sans-serif; }

.main__currency-dollar {
  position: absolute;
  font-size: 8px;
  top: 21px;
  left: 11px; }

.main__envato {
  width: 15px;
  position: absolute;
  left: -11px;
  bottom: 10px; }

.header__option-menu {
  cursor: pointer;
  z-index: 9; }

.header__navbar {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: space-between;
  z-index: 1; }

.header__navbar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08); }

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 29px 50px;
  z-index: 13; }

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 29px 50px; }

.header__logo {
  width: 160px;
  object-fit: contain;
  margin: 0 15px;
  margin-right: 70px;
  margin-bottom: 4px; }

.header__option-list {
  display: flex;
  align-items: center; }

.header__option {
  position: relative;
  list-style: none; }

.header__option::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  cursor: pointer; }

.subnav {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 2px 5px #f1f1f1;
  z-index: 0; }

.subnav--sub::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: -30px;
  border: none; }

.subnav__list {
  position: relative;
  padding: 0 20px;
  min-width: 190px;
  display: block;
  border-bottom: 1px solid #f1f1f1; }

.subnav__list:hover {
  background-color: #f9f9f9; }

.subnav__list-item {
  display: block;
  line-height: 21px;
  min-height: 45px;
  padding: 12px 0;
  width: 100%;
  text-decoration: none;
  letter-spacing: 2px;
  color: #9a9a9a;
  font-size: 14px;
  font-family: Poppins; }

.subnav__state-judge {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 3px;
  float: right; }

.subnav__state--hot {
  background-color: #f76570; }

.subnav__state--best {
  background-color: #14B9D5; }

.subnav__state--new {
  background-color: #1bbc9b; }

.subnav__around-right {
  font-size: 13px;
  float: right;
  margin-top: 6px; }

.subnav__list:hover .subnav--sub {
  display: block; }

.subnav--sub {
  position: absolute;
  right: -190px;
  top: -20px;
  display: none; }

.header__option:hover > .subnav {
  display: block; }

.header__option-item {
  letter-spacing: 2px;
  font-family: Poppins;
  color: #fff;
  text-decoration: none;
  line-height: 14px;
  font-size: 14px;
  padding: 12px 17px; }

.header__option-btn {
  background-color: #BA71DA;
  font-size: 14px;
  letter-spacing: 2.1px;
  border-radius: 30px;
  padding: 8px 16px;
  color: #fff;
  margin-left: 25px;
  font-family: Poppins;
  cursor: pointer; }

.menu__btn {
  font-size: 30px;
  color: #F3F3F3;
  margin-right: 65px; }

.header__background {
  background-image: url("../img/header_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 138%;
  width: 100%;
  padding-top: 60%;
  padding-right: 20px;
  position: relative;
  transform: translateY(-82px); }

.header__background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* bottom: 0; */
  top: 0;
  background: linear-gradient(to bottom, #656460 0%, rgba(101, 100, 96, 0.5) 0%, rgba(101, 100, 96, 0) 50%, rgba(101, 100, 96, 0.5) 100%); }

.header__background-inner {
  position: absolute;
  bottom: 182px;
  text-align: center;
  width: 100%;
  z-index: 131; }

.header__heading {
  color: #fff;
  line-height: 50px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  z-index: 11; }

.header__heading u {
  position: relative;
  text-decoration: none;
  z-index: 13; }

.header__heading u::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ba71da;
  height: 5px;
  left: 0;
  top: 54px;
  z-index: -9; }

.header__description {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: normal;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: 35px; }

.header__search-bar {
  position: relative;
  margin: 65px auto;
  display: flex;
  justify-content: center; }

.header__destination {
  position: relative; }

.header__destination-btn {
  display: block;
  padding: 13px 25px;
  width: 370px;
  border-radius: 30px;
  border: none;
  outline: 0;
  color: #a3a3a3;
  font-size: 15px;
  -webkit-appearance: none;
  cursor: pointer;
  letter-spacing: 1.4px; }

.header__search-icon {
  position: absolute;
  color: #A4A4A4;
  font-size: 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%); }

.header__experience {
  display: flex;
  justify-content: center; }

.header__experience-item {
  background: rgba(0, 0, 0, 0.21);
  padding: 24px 20px;
  margin-right: 30px;
  width: 110px;
  height: 100px; }

.header__experience-item:first-child {
  margin-left: 24px; }

.header__experience-item a {
  text-decoration: none; }

.header__experience-img {
  width: 40px; }

.header__experience-content {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 11px; }

.content {
  margin-top: -84px; }

.content__heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 45px; }

.content__description {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif; }

.content__tittle {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding-top: 28px;
  color: #555555; }

.content__tittle u {
  position: relative;
  text-decoration: none; }

.content__tittle u::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  background-color: #1BBC9B;
  left: 0;
  bottom: 12px;
  z-index: -9; }

.content__destination {
  position: relative;
  padding: 15px; }

.content__destination:hover {
  cursor: pointer;
}

.touch__btn {
  padding: 3px 24px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px; }

.content__destination-item {
  display: block;
  position: relative; }


.content__destination-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0.001), rgba(101, 100, 96, 0.8));
  bottom: 3px; }

.content__destination-img {
  width: 100%;
  object-fit: contain; }

.content__destination-symbol {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 35px;
  z-index: 13; }

.content__destination-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  z-index: 13; }

.content__destination-number {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 42px;
  z-index: 13;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 13px; }

.content__destination-overlay {
  position: absolute;
  background-color: #14b9d5;
  top: 0;
  right: 0px;
  bottom: 3px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transition: opacity ease 1s;
  z-index: 14;
  margin: 15px; }

.content__destination-overlay a {
  text-decoration: none; }

.overlay__tittle {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 12px; }

.overlay__place {
  font-size: 14px;
  margin-top: 8px;
  color: #fff;
  letter-spacing: 1px; }

.overlay__btn {
  color: #14B9D5;
  margin-top: 20px; }

.content__destination:hover .content__destination-overlay {
  opacity: 1; }

.holiday {
  background-image: url("../img/parallax.jpg");
  width: 100%;
  padding-top: 15%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;
  margin-bottom: 75px; }
  .holiday__inner {
    position: absolute;
    left: 25%;
    top: 0;
    right: 0;
    bottom: 66px;
    font-family: 'Poppins', sans-serif; }

.holiday__wrapper p {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fff; }

.holiday__wrapper h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fff; }

.holiday__underline {
  position: relative;
  text-decoration: none;
  z-index: 13; }

.holiday__underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #F76570;
  bottom: 12px;
  left: 0%;
  z-index: -7; }

.holiday__btn {
  position: absolute;
  text-decoration: none;
  color: #F77BA8;
  border-radius: 38px;
  letter-spacing: 2px;
  line-height: 14px;
  font-size: 14px;
  padding: 15px 35px;
  right: 39%;
  bottom: 26px; }

.beach {
  margin-bottom: 60px;
  position: relative; }

.beach__desc {
  margin-bottom: -15px; }

.beach__tittle {
  margin-bottom: 24px;
  position: relative; }

.beach__tittle u::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #14b9d5;
  bottom: 11px;
  left: 0; }

.beach__content {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 52px;
  max-width: 350px;
  cursor: default; }

.beach__content p {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 20px;
  letter-spacing: 1px; }

.beach__prices {
  padding-top: 10px; }

.origin__prices {
  text-decoration: line-through;
  font-size: 30px;
  line-height: 30px;
  color: #dadada;
  font-weight: normal;
  letter-spacing: 1px; }

.disocunt__prices {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #555555; }

.number__prices {
  color: #555555;
  font-size: 14px; }

.prices__btn {
  border-radius: 38px;
  letter-spacing: 2px;
  line-height: 14px;
  font-size: 14px;
  background-color: #1bbc9b;
  color: #ffffff;
  margin-top: 50px;
  padding: 12px 35px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer; }

.beach__poster-background {
  display: flex;
  overflow: hidden;
  width: 750px;
  height: 410px;
  background-position: 50% 50%; }

.beach__poster-img {
  width: 750px;
  height: 410px;
  position: relative; }

#beach__first {
  background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/package-3.jpg");
  background-position: 50% 60%;
  padding-top: 52%;
  background-size: cover; }

#beach__second {
  background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-4.jpg");
  background-position: 50% 60%;
  padding-top: 52%;
  background-size: cover; }

#beach__third {
  background-image: url("http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-4-1.jpg");
  background-position: 50% 60%;
  padding-top: 52%;
  background-size: cover; }

.beach__poster-img.active {
  display: block; }

.beach__poster-img {
  display: none; }

.beach__poster-img img {
  width: 750px; }

.beach__option-bars {
  position: absolute;
  left: 50%;
  transform: translateX(28%);
  top: 24px;
  width: 240px;
  display: flex;
  justify-content: space-between; }

.beach__option-bar {
  width: 60px;
  height: 3px;
  background-color: #afc9dd;
  cursor: pointer; }

.beach__option-bar:hover,
.beach__option-bar.active {
  background-color: #fff; }

.beach__countdown {
  position: absolute;
  display: flex;
  background-color: #14B9D5;
  justify-content: space-around;
  align-items: center;
  right: 170px;
  left: 540px;
  bottom: -32px; }

.beach__time {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #fff;
  position: relative; }

.beach__time::after {
  content: "/";
  position: absolute;
  top: 30px;
  right: -36px;
  font-size: 42px;
  color: #000;
  opacity: 0.07;
  font-weight: 500;
  z-index: 9;
  line-height: 60px; }

.beach__time:last-child::after {
  content: "";
  position: absolute; }

.beach__time h3 {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-weight: normal; }

.beach__time p {
  margin-bottom: 30px;
  margin-top: 8px;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 13px; }

.beach__wrapper {
  display: flex;
  margin-top: 50px; }

.beach__travel {
  display: flex;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }

.beach__travel-img {
  width: 50px;
  height: 50px; }

.beach__travel-information {
  margin-left: 24px; }

.beach__travel-information h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #555; }

.beach__travel-information p {
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0;
  opacity: 0.6; }

.beach__travel-information a {
  font-size: 14px;
  line-height: 14px;
  color: #14b9d5;
  text-decoration: none; }

.discovery__container {
  margin-top: 84px;
  display: flex; }

.discovery__cities {
  position: relative;
  background-image: url("../img/city.jpg");
  width: 100%;
  background-position: center center;
  background-size: cover;
  flex: 1;
  height: 268px; }

.discovery__wrapper {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  top: 60px;
  font-family: 'Poppins', sans-serif; }

.discovery__wrapper h2 {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0px;
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 12px; }

.discovery__wrapper h3 {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal; }

.discovery__wrapper a {
  border-radius: 40px;
  letter-spacing: 2px;
  line-height: 14px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 12px 35px;
  text-decoration: none;
  margin-top: 40px; }

.discovery__nature {
  position: relative;
  background-image: url("../img/nature.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  flex: 1;
  height: 268px; }

.discovery__wrapper--city {
  color: #f3a46b; }

.discovery__wrapper--nature {
  color: #1bbc9b; }

.package__symbol-img {
  width: 100%;
  position: relative; }

.package {
  margin-bottom: 76px; }

.package__item {
  border: 1px solid #f1f1f1; }

.package__symbol {
  position: relative; }

.package__item-mini {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -19px;
  cursor: pointer; }

.package__img-mini {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 12px;
  left: 12px; }

.package__item-sale {
  position: absolute;
  color: #fff;
  background-color: #555;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 1px;
  border-radius: 30px;
  top: 25px;
  right: 22px;
  font-family: 'Poppins', sans-serif;
  padding: 4px 12px;
  cursor: pointer; }

.package__content {
  font-family: 'Poppins', sans-serif;
  padding: 30px 31px; }

.package__place h2 {
  color: #555555;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer; }

.package__country {
  cursor: pointer;
  display: flex; }

.package__location-icon {
  font-size: 15px;
  line-height: 27px;
  color: #9a9a9a;
  margin-right: 5px; }

.package__place h4 {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 38px;
  color: #9a9a9a; }

.package__service {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center; }

.package__service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  top: -15px; }

.package__service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  bottom: -15px; }

.package__travel h3 {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2px;
  font-weight: normal;
  cursor: pointer; }

.package__judge {
  display: flex;
  align-items: center;
  margin-top: 10px; }

.package__index {
  position: relative;
  font-size: 10px;
  line-height: 14px;
  border-radius: 30px;
  padding: 1px 10px;
  margin-left: 8px; }

.package__index-detail {
  display: none;
  position: absolute;
  background-color: #555;
  top: 25px;
  font-size: 11px;
  padding: 12px 14px;
  left: 0;
  letter-spacing: 1px; }

.package__index-detail::after {
  content: "";
  position: absolute;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 7px #555;
  top: -7px;
  left: 12px; }

.package__index:hover .package__index-detail {
  display: block; }

.package__price {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #555;
  cursor: pointer; }

.package__price-origin {
  color: #9a9a9a;
  font-size: 20px;
  line-height: 20px;
  text-decoration: line-through; }

.package__detail {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #9a9a9a;
  margin-top: 38px;
  margin-bottom: 20px; }

.package__detail-btn {
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer; }

.package__item--yellow .package__detail-btn {
  color: #fff;
  background-color: #ffd205; }

.package__item--yellow .package__index {
  background-color: #ffd205;
  color: #fff; }

.package__item--pink .package__detail-btn {
  background-color: #f76570;
  color: #fff; }

.package__item--pink .package__index {
  background-color: #f76570;
  color: #fff; }

.package__item--purple .package__detail-btn {
  background-color: #ba71da;
  color: #fff; }

.package__item--purple .package__index {
  background-color: #ba71da;
  color: #fff; }

.package__item--yellow .package__item-mini {
  background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%); }

.package__item--pink .package__item-mini {
  background: linear-gradient(to right, #f76570 0%, #f78d65 100%); }

.package__item--purple .package__item-mini {
  background: linear-gradient(to right, #ba71da 0%, #da717b 100%); }

.footer {
  position: relative; }

.footer__background {
  position: relative;
  background-image: url("../img/fog.jpg");
  width: 100%;
  height: 627.2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.footer__contact {
  font-family: 'Poppins', sans-serif;
  justify-content: space-around; }

.footer__heading h3 {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: normal; }

.footer__heading h2 {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #555555;
  margin-top: 20px; }

.footer__travel {
  position: absolute;
  top: 80px;
  left: 374px; }

.footer__message {
  position: absolute;
  top: 100px; }

.footer__search {
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 30px;
  border-style: solid;
  padding: 14px 28px;
  -webkit-appearance: none;
  outline: none;
  margin-right: 18px;
  font-size: 15px; }

.footer__submit {
  font-size: 15px;
  background-color: #14b9d5;
  border-width: 0px;
  border-color: #fff;
  border-radius: 30px;
  border-style: solid;
  padding: 11px 27px;
  -webkit-appearance: none;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px; }

.footer__body {
  position: absolute;
  left: -6px;
  right: 0;
  top: 210px; }

.footer__container {
  background-color: #fff;
  padding: 35px 30px 44px 30px;
  margin-left: 18px;
  margin-right: 12px; }

.footer__infor {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 25px; }

.footer__logo {
  width: 150px;
  margin-top: 9px;
  margin-bottom: 5px; }

.footer__content {
  color: #9a9a9a;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  margin: 25px 0; }

.footer__social-icon {
  width: 22px;
  font-size: 22px;
  margin-right: 16px;
  opacity: 0.7; }

.footer__option {
  list-style: none;
  font-family: 'Poppins', sans-serif; }

.footer__option h4 {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #555555;
  padding-top: 25px; }

.footer__item {
  line-height: 27px;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #9a9a9a;
  display: flex;
  align-items: center; }

.footer__item-icon {
  width: 10px;
  color: #9a9a9a;
  opacity: 0.4;
  font-size: 10px;
  margin-right: 7px; }

.footer__addition {
  display: flex;
  justify-content: space-between;
  color: #Fff;
  background-color: #14b9d5;
  min-height: 52px;
  align-items: center;
  padding: 0 20px;
  margin-left: 18px;
  margin-right: 12px; }

.footer__addition p {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif; }

/* Mobile */
@media screen and (max-width: 740px) {
  .header__option-list {
    display: none; }
  .main__fast-buy {
    display: none; }
  .slide__menu--pc {
    display: none; }
  .slide__menu--collapse {
    display: block; }
  .header__navbar {
    position: relative;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #555; }
  .header__logo {
    margin: 0; }
  .menu__btn {
    margin: 0; }
  .header__option-menu {
    margin-top: 12px; }
  .header__heading u::after {
    top: 60px; }
  .header__wrapper {
    padding: 0; }
  .header__background {
    background-position: 51% 19%;
    background-repeat: no-repeat;
    background-size: 750%;
    width: 100%;
    padding-top: 310%;
    transform: translateY(0px); }
  .header__background-inner {
    padding: 0 56px;
    bottom: 24px; }
  .header__background p {
    left: 162px;
    bottom: 24px; }
  .header__experience-item {
    margin: 12px 25px;
    width: 240px; }
  .header__description {
    font-size: 24px;
    line-height: 24px; }
  .content {
    padding: 56px 0; }
  .content__heading {
    padding: 0 60px; }
  .content__destination-item::after {
    bottom: 3px; }
  .destination {
    padding: 0 60px; }
  .content__destination-overlay {
    bottom: 3px; }
  .header__experience {
    flex-direction: column;
    align-items: center; }
  .holiday {
    padding-top: 90%;
    background-position: 50% 100%;
    background-size: 150%;
    margin-top: 48px;
    margin-bottom: 75px; }
  .holiday__wrapper p {
    left: -20px;
    top: 48px; }
  .holiday__wrapper h3 {
    left: -20px;
    top: 90px; }
  .holiday__btn {
    left: -20px;
    right: 22%; }
  .beach {
    padding: 0 60px; }
  .beach__option-bar {
    display: none; }
  .beach__poster {
    width: 100%;
    margin: 0;
    margin-top: 40px;
    padding-top: 50%; }
  .beach__poster-background {
    width: 100%;
    height: 140px;
    margin-top: 50px;
  }
  .beach__poster-img {
    width: 100%;
    height: 100%;
  }
  .beach__wrapper {
    flex-direction: column;
    padding: 0 60px;
    margin-top: 450px; }
  .beach__tittle u::after {
    bottom: 9px; }
  .content__tittle u::after {
    bottom: 8px; }
  .beach__countdown {
    flex-direction: column;
    left: 60px;
    right: 60px;
    bottom: -68%; }
    .beach__option-bars {
      display: none;
    }
    .beach__travel {
      margin-bottom: 24px;
    }
  .beach__time {
    width: 100%;
    border-bottom: 1px solid #ccc; }
  .beach__time::after {
    display: none; }
  .discovery__container {
    display: block; }
  .package {
    padding: 0 60px; }
  .package__item {
    margin-bottom: 36px; }
  .package__service {
    display: block; }
  .package__price {
    padding: 10px 0; }
  .footer__option {
    padding: 0 15px; }
  .footer__background {
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding-top: 356%; }
  .footer__container {
    margin: 0 60px;
    padding: 35px 30px 35px 30px; }
  .footer__message {
    margin: 0;
    position: absolute;
    top: 154px;
    text-align: center;
    left: 0;
    width: 100%; }
  .footer__body {
    top: 310px; }
  .footer__travel {
    left: 52px;
    top: 50px; }
  .footer__search {
    margin: 0;
    margin-bottom: 30px;
    width: 71%; }
  .footer__submit {
    padding: 13px 107px;
    width: 71%;
    display: block;
    margin: 0 auto;
    margin-bottom: 11px; }
  .footer__infor {
    padding: 0 15px; }
  .footer__addition {
    flex-direction: column;
    text-align: center;
    padding: 12px 35px;
    margin: 0 60px; }
  .footer__addition p {
    line-height: 20px; } }

@media (min-width: 1024px) and (max-width: 1239px) {
  .header__option-list {
    display: none; }
  .main__fast-buy {
    display: none; }
  .slide__menu--pc {
    display: none; }
  .slide__menu--collapse {
    display: block; }
  .header__navbar {
    position: relative;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #555; }
  .header__logo {
    margin: 0; }
  .menu__btn {
    margin: 0; }
  .header__option-menu {
    margin-top: 12px; }
  .header__heading u::after {
    top: 60px; }
  .header__wrapper {
    padding: 0; }
  .header__background {
    background-position: 52% 60%;
    background-repeat: no-repeat;
    background-size: 300%;
    width: 100%;
    padding-top: 125%;
    transform: translateY(0px); }
  .header__background-inner {
    padding: 0 56px;
    bottom: 170px; }
  .header__background p {
    left: 162px;
    bottom: 24px; }
  .header__destination-btn {
    width: 100%;
    padding: 20px 25px; }
  .header__search-icon {
    position: absolute;
    color: #A4A4A4;
    top: 12px;
    right: 140px;
    font-size: 20px; }
  .content {
    padding: 56px 0; }
  .content__heading {
    padding: 0 60px; }
  .content__destination-item::after {
    bottom: 3px; }
  .content__destination-overlay {
    bottom: 3px; }
  .destination {
    padding: 0 60px; }
  .header__experience {
    flex-direction: column;
    align-items: center; }
  .header__experience-item {
    margin: 12px 25px;
    width: 100%; }
  .header__search-icon {
    top: 18px;
    right: 30px; }
  .header__heading {
    font-size: 56px;
    line-height: 56px; }
  .header__description {
    font-size: 24px;
    line-height: 24px; }
  .holiday {
    padding-top: 30%; }
  .holiday__wrapper h3 {
    left: -100px;
    top: 88px; }
  .holiday__wrapper p {
    left: -100px;
    top: 25px; }
  .holiday__btn {
    left: -100px;
    right: 81%; }
  .beach {
    padding: 0 60px; }
  .beach__poster {
    padding-top: 80%; }
  .beach__countdown {
    bottom: -20px;
    width: 40%;
    left: 48%; }
  .package__content {
    padding: 30px 20px; }
  .footer__travel {
    left: 94px; }
  .footer__message {
    right: 36px; } }

@media (min-width: 740px) and (max-width: 1023px) {
  .header__option-list {
    display: none; }
  .main__fast-buy {
    display: none; }
  .slide__menu--pc {
    display: none; }
  .slide__menu--collapse {
    display: block; }
  .header__navbar {
    position: relative;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #555; }
  .header__logo {
    margin: 0; }
  .menu__btn {
    margin: 0; }
  .header__option-menu {
    margin-top: 12px; }
  .header__heading u::after {
    top: 54px; }
  .header__wrapper {
    padding: 0; }
  .header__background {
    background-position: 52% 60%;
    background-repeat: no-repeat;
    background-size: 300%;
    width: 100%;
    padding-top: 168%;
    transform: translateY(0px); }
  .header__background-inner {
    padding: 0 56px;
    bottom: 170px; }
  .header__background p {
    left: 162px;
    bottom: 24px; }
  .header__destination-btn {
    width: 100%;
    padding: 20px 25px; }
  .header__search-icon {
    position: absolute;
    color: #A4A4A4;
    top: 18px;
    right: 30px; }
  .holiday__underline::after {
    bottom: 6px; }
  .content__tittle u::after {
    bottom: 6px; }
  .header__experience {
    flex-direction: column;
    align-items: center; }
  .header__experience-item {
    margin: 12px 25px;
    width: 100%; }
  .content__heading {
    margin-top: 120px; }
  .content__destination-item::after {
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, rgba(101, 100, 96, 0.001), rgba(101, 100, 96, 0.7)); }
  .holiday {
    width: 100%;
    padding-top: 25%;
    position: relative;
    margin-top: 48px;
    margin-bottom: 75px; }
  .holiday__wrapper p {
    position: absolute;
    left: 0;
    bottom: 60px;
    color: #fff; }
  .holiday__wrapper h3 {
    bottom: 10px; }
  .holiday__btn {
    position: absolute;
    padding: 15px 35px;
    right: 62%;
    left: 0;
    bottom: -56px; }
  .holiday__inner {
    position: absolute;
    left: 18%;
    top: 0px;
    right: 0;
    bottom: 66px; }
  .beach__poster {
    margin: 50px 0 0 0; }
  .beach__countdown {
    display: none; }
  .beach__wrapper {
    flex-direction: column; }
  .package__item {
    margin-bottom: 36px; }
  .footer__travel {
    top: 60px;
    left: 190px; }
  .footer__message {
    top: 152px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .footer__search {
    width: 53%; }
  .footer__container {
    margin: 20px 0 0 0; }
  .footer__background {
    position: relative;
    width: 100%;
    padding-top: 110%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .footer__addition {
    margin: 0; } }
